{% extends 'inventory/base.html' %}

{% block body %}

<div class="container col-md-10 edit_box" >
  <form method="POST">
    {% csrf_token %}
    <h3><u>Editing Products</u></h3>
    {% for field in form %}
      <div class="form-group row">
        <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>
        <div class="col-10">
          {{ field }}
        </div>
      </div>
    {% endfor %}
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-6">
        <button type="submit" class="btn btn-primary">Edit item</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
