{% extends 'inventory/base.html' %}

{% block body %}
	<div class="add_buttons">
	    <div class="button-group">
	      <a href="{% url 'all_laptops' %}" id="add-btn" class="btn btn-primary btn-md btn-trim" role="button"> Laptops</a>

	      <a href="{% url 'all_mobiles' %}" id="add-btn" class="btn btn-primary btn-md btn-trim" role="button"> Mobiles</a>

	      <a href="{% url 'get_all_laptops' %}" id="add-btn" class="btn btn-primary btn-md btn-trim" role="button">Get all laptops via api</a>
	    </div>
  	</div>
  	<br>
  	<div>
    	<h4>All {{ header }}</h4>
    	{% if header|lower == "laptops" %}
    		<a href="{% url 'add_laptops' %}" class="btn btn-warning btn-md btn-pad" role="button"> Add New +</a>
    	{% elif header|lower == "mobiles" %}
    		<a href="{% url 'add_mobiles' %}" class="btn btn-warning btn-md btn-pad" role="button"> Add New +</a>
    	{% endif %}
  	</div>
  	<br>
  	<table class="table table-hover">
	    <thead>
	      <tr>
	        <th>id</th>
	        <th>Model</th>
	        <th>Price</th>
	        <th>Status</th>
	        <th>Issues</th>
	        <th>Action</th>
	      </tr>
	    </thead>
    	<tbody>
    		{% for item in products %}
	    		<tr>
	    			<td>{{ item.id }}</td>
	    			<td>{{ item.type }}</td>
	    			<td>{{ item.price }}</td>
	    			<td>{{ item.status }}</td>
	    			<td>{{ item.issues }}</td>
	    			{% if header|lower == "laptops" %}
				        <td>
				            <a href="{% url 'edit_laptop' item.id %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
				            <a href="{% url 'delete_laptop' item.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" >Delete</a>
				        </td>
				        {% elif header|lower == "mobiles" %}
				        <td>
				            <a href="{% url 'edit_mobile' item.id %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
				            <a href="{% url 'delete_mobile' item.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" >Delete</a>
				        </td>
				        {% endif %}
	    		</tr>
    		{% endfor %}
    	</tbody>
  	</table>
{% endblock %}